<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Adotbelow</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Abreve</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Dafrican</string>
		<string>Dcaron</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Dslash</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edot</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Fhook</string>
		<string>florin</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lbelt</string>
		<string>Lcedilla</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lslash</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tdotbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhook</string>
	</array>
	<key>public.kern1.Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Alphatonos</string>
	</array>
	<key>public.kern1.Epsilon</key>
	<array>
		<string>Epsilon</string>
		<string>Epsilontonos</string>
	</array>
	<key>public.kern1.Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern1.Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern1.Iecyrillic</key>
	<array>
		<string>Iecyrillic</string>
		<string>uni0400</string>
		<string>Iocyrillic</string>
	</array>
	<key>public.kern1.Ucyrillic</key>
	<array>
		<string>Ucyrillic</string>
		<string>Ushortcyrillic</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.apostrophe</key>
	<array>
		<string>apostrophemod</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adotbelow</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Abreve</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>i</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Istroke</string>
		<string>Itilde</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tdotbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhook</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdot</string>
		<string>Zdotbelow</string>
		<string>Zstroke</string>
	</array>
	<key>public.kern2.Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern2.Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern2.tonos</key>
	<array>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
	</array>
	<key>public.kern2.Icyrillic</key>
	<array>
		<string>Icyrillic</string>
		<string>Yicyrillic</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern2.apostrophe</key>
	<array>
		<string>apostrophemod</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.eenko</key>
	<array>
		<string>eenko</string>
		<string>eenko.init</string>
		<string>eenko.medi</string>
		<string>danko</string>
		<string>danko.init</string>
		<string>danko.medi</string>
	</array>
	<key>public.kern2.eenko</key>
	<array>
		<string>eenko</string>
		<string>eenko.medi</string>
		<string>eenko.fina</string>
	</array>
	<key>public.kern1.inko</key>
	<array>
		<string>inko</string>
		<string>inko.init</string>
		<string>inko.medi</string>
	</array>
	<key>public.kern2.inko</key>
	<array>
		<string>inko</string>
		<string>inko.medi</string>
		<string>inko.fina</string>
	</array>
	<key>public.kern1.enko</key>
	<array>
		<string>enko</string>
		<string>enko.init</string>
		<string>enko.medi</string>
	</array>
	<key>public.kern2.enko</key>
	<array>
		<string>enko</string>
		<string>enko.medi</string>
		<string>enko.fina</string>
	</array>
	<key>public.kern1.unko</key>
	<array>
		<string>unko</string>
		<string>unko.init</string>
		<string>unko.medi</string>
		<string>oonko</string>
		<string>oonko.init</string>
		<string>oonko.medi</string>
		<string>sanko</string>
		<string>sanko.init</string>
		<string>sanko.medi</string>
	</array>
	<key>public.kern2.unko</key>
	<array>
		<string>unko</string>
		<string>unko.medi</string>
		<string>unko.fina</string>
		<string>oonko</string>
		<string>oonko.medi</string>
		<string>oonko.fina</string>
		<string>sanko</string>
		<string>sanko.medi</string>
		<string>sanko.fina</string>
	</array>
	<key>public.kern1.onko</key>
	<array>
		<string>onko</string>
		<string>onko.init</string>
		<string>onko.medi</string>
		<string>nnko</string>
		<string>nnko.init</string>
		<string>nnko.medi</string>
		<string>lanko</string>
		<string>lanko.init</string>
		<string>lanko.medi</string>
	</array>
	<key>public.kern2.onko</key>
	<array>
		<string>onko</string>
		<string>onko.medi</string>
		<string>onko.fina</string>
		<string>fanko</string>
		<string>fanko.medi</string>
		<string>fanko.fina</string>
	</array>
	<key>public.kern2.nnko</key>
	<array>
		<string>nnko</string>
		<string>nnko.medi</string>
		<string>nnko.fina</string>
	</array>
	<key>public.kern2.tanko</key>
	<array>
		<string>tanko</string>
		<string>tanko.medi</string>
		<string>tanko.fina</string>
		<string>danko</string>
		<string>danko.medi</string>
		<string>danko.fina</string>
	</array>
	<key>public.kern1.janko</key>
	<array>
		<string>janko</string>
		<string>janko.init</string>
		<string>janko.medi</string>
	</array>
	<key>public.kern1.chanko</key>
	<array>
		<string>chanko</string>
		<string>chanko.init</string>
		<string>chanko.medi</string>
	</array>
	<key>public.kern1.ranko</key>
	<array>
		<string>ranko</string>
		<string>ranko.init</string>
		<string>ranko.medi</string>
		<string>rranko</string>
		<string>rranko.init</string>
		<string>rranko.medi</string>
	</array>
	<key>public.kern2.ranko</key>
	<array>
		<string>ranko</string>
		<string>ranko.medi</string>
		<string>ranko.fina</string>
		<string>rranko</string>
		<string>rranko.medi</string>
		<string>rranko.fina</string>
	</array>
	<key>public.kern1.gbanko</key>
	<array>
		<string>gbanko</string>
		<string>gbanko.init</string>
		<string>gbanko.medi</string>
	</array>
	<key>public.kern2.gbanko</key>
	<array>
		<string>gbanko</string>
		<string>gbanko.medi</string>
		<string>gbanko.fina</string>
	</array>
	<key>public.kern1.fanko</key>
	<array>
		<string>fanko</string>
		<string>fanko.init</string>
		<string>fanko.medi</string>
	</array>
	<key>public.kern2.lanko</key>
	<array>
		<string>lanko</string>
		<string>lanko.medi</string>
		<string>lanko.fina</string>
	</array>
	<key>public.kern1.wolosonanko</key>
	<array>
		<string>wolosonanko</string>
		<string>wolosonanko.init</string>
		<string>wolosonanko.medi</string>
	</array>
	<key>public.kern2.wolosonanko</key>
	<array>
		<string>wolosonanko</string>
		<string>wolosonanko.medi</string>
		<string>wolosonanko.fina</string>
	</array>
	<key>public.kern1.manko</key>
	<array>
		<string>manko</string>
		<string>manko.init</string>
		<string>manko.medi</string>
	</array>
	<key>public.kern2.manko</key>
	<array>
		<string>manko</string>
		<string>manko.medi</string>
		<string>manko.fina</string>
	</array>
	<key>public.kern1.nyanko</key>
	<array>
		<string>nyanko</string>
		<string>nyanko.init</string>
		<string>nyanko.medi</string>
	</array>
	<key>public.kern2.nyanko</key>
	<array>
		<string>nyanko</string>
		<string>nyanko.medi</string>
		<string>nyanko.fina</string>
	</array>
	<key>public.kern1.nanko</key>
	<array>
		<string>nanko</string>
		<string>nanko.init</string>
		<string>nanko.medi</string>
	</array>
	<key>public.kern1.hanko</key>
	<array>
		<string>hanko</string>
		<string>hanko.init</string>
		<string>hanko.medi</string>
	</array>
	<key>public.kern1.yanko</key>
	<array>
		<string>yanko</string>
		<string>yanko.init</string>
		<string>yanko.medi</string>
	</array>
	<key>public.kern2.yanko</key>
	<array>
		<string>yanko</string>
		<string>yanko.medi</string>
		<string>yanko.fina</string>
	</array>
	<key>public.kern1.wolosonyanko</key>
	<array>
		<string>wolosonyanko</string>
		<string>wolosonyanko.init</string>
		<string>wolosonyanko.medi</string>
	</array>
	<key>public.kern2.wolosonyanko</key>
	<array>
		<string>wolosonyanko</string>
		<string>wolosonyanko.medi</string>
		<string>wolosonyanko.fina</string>
	</array>
	<key>public.kern1.jonanko</key>
	<array>
		<string>jajonanko</string>
		<string>jajonanko.init</string>
		<string>jajonanko.medi</string>
		<string>chajonanko</string>
		<string>chajonanko.init</string>
		<string>chajonanko.medi</string>
		<string>rajonanko</string>
		<string>rajonanko.init</string>
		<string>rajonanko.medi</string>
	</array>
	<key>public.kern2.jonanko</key>
	<array>
		<string>jajonanko</string>
		<string>jajonanko.medi</string>
		<string>jajonanko.fina</string>
		<string>chajonanko</string>
		<string>chajonanko.medi</string>
		<string>chajonanko.fina</string>
		<string>rajonanko</string>
		<string>rajonanko.medi</string>
		<string>rajonanko.fina</string>
	</array>
	<key>public.kern1.dagbasinnanko</key>
	<array>
		<string>dagbasinnanko</string>
		<string>dagbasinnanko.init</string>
		<string>dagbasinnanko.medi</string>
	</array>
	<key>public.kern2.dagbasinnanko</key>
	<array>
		<string>dagbasinnanko</string>
		<string>dagbasinnanko.medi</string>
		<string>dagbasinnanko.fina</string>
	</array>
</dict>
</plist>
