<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Adotbelow</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Abreve</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Dafrican</string>
		<string>Dcaron</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Dslash</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>E</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edot</string>
		<string>Emacron</string>
		<string>Eogonek</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Fhook</string>
		<string>florin</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lbelt</string>
		<string>Lcedilla</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lslash</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tdotbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhook</string>
	</array>
	<key>public.kern1.Alpha</key>
	<array>
		<string>Alpha</string>
		<string>Alphatonos</string>
	</array>
	<key>public.kern1.Epsilon</key>
	<array>
		<string>Epsilon</string>
		<string>Epsilontonos</string>
	</array>
	<key>public.kern1.Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotatonos</string>
		<string>Iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern1.Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilontonos</string>
		<string>Upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern1.Iecyrillic</key>
	<array>
		<string>Iecyrillic</string>
		<string>uni0400</string>
		<string>Iocyrillic</string>
	</array>
	<key>public.kern1.Ucyrillic</key>
	<array>
		<string>Ucyrillic</string>
		<string>Ushortcyrillic</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.apostrophe</key>
	<array>
		<string>apostrophemod</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adotbelow</string>
		<string>Amacron</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Abreve</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>I</string>
		<string>i</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Istroke</string>
		<string>Itilde</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tdotbelow</string>
		<string>Thook</string>
		<string>Tlinebelow</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Yhook</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdot</string>
		<string>Zdotbelow</string>
		<string>Zstroke</string>
	</array>
	<key>public.kern2.Iota</key>
	<array>
		<string>Iota</string>
		<string>Iotadieresis</string>
		<string>iotadieresistonos</string>
	</array>
	<key>public.kern2.Upsilon</key>
	<array>
		<string>Upsilon</string>
		<string>Upsilondieresis</string>
		<string>upsilondieresistonos</string>
	</array>
	<key>public.kern2.tonos</key>
	<array>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
	</array>
	<key>public.kern2.Icyrillic</key>
	<array>
		<string>Icyrillic</string>
		<string>Yicyrillic</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>public.kern2.apostrophe</key>
	<array>
		<string>apostrophemod</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
</dict>
</plist>
