<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>T</key>
		<integer>-143</integer>
		<key>Y</key>
		<integer>-132</integer>
		<key>Yacute</key>
		<integer>-132</integer>
		<key>Ydieresis</key>
		<integer>-132</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>Y</key>
		<integer>-176</integer>
		<key>Yacute</key>
		<integer>-176</integer>
		<key>Ydieresis</key>
		<integer>-176</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-154</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-154</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-154</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-154</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>T</key>
		<integer>-154</integer>
		<key>V</key>
		<integer>-88</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-154</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>I</key>
		<integer>-154</integer>
		<key>Igrave</key>
		<integer>-154</integer>
		<key>Iacute</key>
		<integer>-154</integer>
		<key>Icircumflex</key>
		<integer>-154</integer>
		<key>Idieresis</key>
		<integer>-154</integer>
		<key>J</key>
		<integer>-154</integer>
		<key>T</key>
		<integer>-154</integer>
		<key>X</key>
		<integer>-154</integer>
		<key>Y</key>
		<integer>-88</integer>
		<key>Yacute</key>
		<integer>-88</integer>
		<key>Ydieresis</key>
		<integer>-88</integer>
		<key>Z</key>
		<integer>-154</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-143</integer>
		<key>Agrave</key>
		<integer>-143</integer>
		<key>Aacute</key>
		<integer>-143</integer>
		<key>Acircumflex</key>
		<integer>-143</integer>
		<key>Atilde</key>
		<integer>-143</integer>
		<key>Adieresis</key>
		<integer>-143</integer>
		<key>Aring</key>
		<integer>-143</integer>
		<key>J</key>
		<integer>-154</integer>
		<key>Y</key>
		<integer>-154</integer>
		<key>Yacute</key>
		<integer>-154</integer>
		<key>Ydieresis</key>
		<integer>-154</integer>
	</dict>
  <key>L</key>
  <dict>
    <key>T</key>
    <integer>-341</integer>
    <key>V</key>
    <integer>-88</integer>
    <key>Y</key>
    <integer>-341</integer>
    <key>Yacute</key>
    <integer>-341</integer>
    <key>Ydieresis</key>
    <integer>-341</integer>
		<key>quotedbl</key>
		<integer>-154</integer>
		<key>quotesingle</key>
		<integer>-341</integer>
  </dict>
	<key>T</key>
	<dict>
		<key>AE</key>
		<integer>-143</integer>
		<key>A</key>
		<integer>-143</integer>
		<key>Agrave</key>
		<integer>-143</integer>
		<key>Aacute</key>
		<integer>-143</integer>
		<key>Acircumflex</key>
		<integer>-143</integer>
		<key>Atilde</key>
		<integer>-143</integer>
		<key>Adieresis</key>
		<integer>-143</integer>
		<key>Aring</key>
		<integer>-143</integer>
		<key>J</key>
		<integer>-341</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>I</key>
		<integer>-110</integer>
		<key>Igrave</key>
		<integer>-110</integer>
		<key>Iacute</key>
		<integer>-110</integer>
		<key>Icircumflex</key>
		<integer>-110</integer>
		<key>Idieresis</key>
		<integer>-110</integer>
		<key>J</key>
		<integer>-110</integer>
		<key>T</key>
		<integer>-110</integer>
		<key>X</key>
		<integer>-187</integer>
		<key>Y</key>
		<integer>-121</integer>
		<key>Yacute</key>
		<integer>-121</integer>
		<key>Ydieresis</key>
		<integer>-121</integer>
		<key>Z</key>
		<integer>-110</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>J</key>
		<integer>-132</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>AE</key>
		<integer>-132</integer>
		<key>A</key>
		<integer>-132</integer>
		<key>Agrave</key>
		<integer>-132</integer>
		<key>Aacute</key>
		<integer>-132</integer>
		<key>Acircumflex</key>
		<integer>-132</integer>
		<key>Atilde</key>
		<integer>-132</integer>
		<key>Adieresis</key>
		<integer>-132</integer>
		<key>Aring</key>
		<integer>-132</integer>
		<key>J</key>
    <integer>-341</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>AE</key>
		<integer>-132</integer>
		<key>A</key>
		<integer>-132</integer>
		<key>Agrave</key>
		<integer>-132</integer>
		<key>Aacute</key>
		<integer>-132</integer>
		<key>Acircumflex</key>
		<integer>-132</integer>
		<key>Atilde</key>
		<integer>-132</integer>
		<key>Adieresis</key>
		<integer>-132</integer>
		<key>Aring</key>
		<integer>-132</integer>
		<key>J</key>
    <integer>-341</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>AE</key>
		<integer>-132</integer>
		<key>A</key>
		<integer>-132</integer>
		<key>Agrave</key>
		<integer>-132</integer>
		<key>Aacute</key>
		<integer>-132</integer>
		<key>Acircumflex</key>
		<integer>-132</integer>
		<key>Atilde</key>
		<integer>-132</integer>
		<key>Adieresis</key>
		<integer>-132</integer>
		<key>Aring</key>
		<integer>-132</integer>
		<key>J</key>
    <integer>-341</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>space</key>
		<integer>-352</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>J</key>
		<integer>-341</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>J</key>
		<integer>-341</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-352</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>backslash</key>
		<integer>-352</integer>
	</dict>
</dict>
</plist>
